:root {
  --font-weight-bg: 700;
  --small-px: 10px;
  --mid-px: 20px;
  --primary-font-family: "Open Sans", sans-serif;

  --button-accent-color: #ff5252;
  --button-bl-color: #25a7b8;
  --button-green-color: #4caf50;
  --button-lo-color: #ffc107;
  --button-vio-color: #9c27b0;

  --light-app-bg-color: #54bab9;
  --light-page-bg-color: #f7ecde;
  --primary-text-color: #ffffff;
  --secondary-text-color: #1d8a8a;
  --task-text-color: #25a7b8;
  --text-color-accent: #f6f6f6;
  --app-title-color: #e9c597;
  --line-color: #e4e4e4;
  --dark-bl-color: #38938a;
  --dark-shadow-color: #44a0a0;
}
[data-theme="dark"] {
  --light-app-bg-color: #354259;
  --light-page-bg-color: #1c273c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}
.app {
  padding-top: 80px;
  background: var(--light-page-bg-color);
  height: 100%;
  min-width: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 428px) {
  .app {
    padding-top: 70px;
    display: inline-block;
  }
}
.theme-toggle {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}
/* section: app title */
.app-title-container {
  width: 258px;
  height: 58px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .app-title-container {
    margin-left: auto;
    margin-right: auto;
  }
}
.app-title {
  line-height: 29px;
  font-weight: 800;
  color: var(--app-title-color);
}
/* task panel section */
.tasks-panel {
  margin-top: 114px;
  margin-bottom: 252px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.panel-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel-empty p {
  font-size: 24px;
}
@media screen and (max-width: 428px) {
  .tasks-panel {
    margin-top: 52px;
  }
}
/* left panel section */
.left-panel {
  width: 250px;
  height: 520px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 820px) {
  .left-panel {
    display: none;
  }
}
.panel--light {
  border-radius: var(--small-px);
  background: var(--light-app-bg-color);
  box-shadow: 0px 6px var(--dark-bl-color);
}
.left-panel--heading {
  width: 250px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-text-color);
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 20px;
}
.line {
  width: 60px;
  height: 0px;
  background-color: var(--line-color);
  margin-top: auto;
  margin-bottom: auto;
}
/* button  */
.button {
  width: 200px;
  height: 30px;
  border-radius: var(--small-px);
  color: var(--primary-text-color);
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: var(--small-px);
  cursor: pointer;
  transition: all 0.2s;
}
@media screen and (max-width: 428px) {
  .button {
    font-size: 12px;
  }
  .right-panel-header .button-dark {
    background-color: inherit;
    font-size: 18px;
  }
}
.short-button {
  width: 150px;
}
.button:hover {
  opacity: 0.7;
}
.button--primary {
  background-color: var(--button-green-color);
}
.button--accent {
  background-color: var(--button-accent-color);
}
.button--secondary {
  background-color: var(--button-lo-color);
}
.button--tertiary {
  background-color: var(--button-vio-color);
}
.button--lb {
  background-color: var(--button-bl-color);
}
.add-catg-button {
  margin-top: 175px;
  width: 168px;
}
.button-dark {
  background-color: var(--dark-bl-color);
  margin-bottom: 0px;
  font-weight: 800;
}
@media screen and (max-width: 428px) {
  .right-panel-lists .short-button {
    rotate: 90deg;
    width: 70px;
    height: 40px;
    margin: 0;
  }
}
/* section: right panel */
.right-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-panel-header {
  width: 650px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 428px) {
  .right-panel {
    align-items: center;
  }
  .right-panel-header {
    width: 160px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
  }
  .header__item {
    display: none;
  }
}
.header__item {
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 27px;
  font-size: 20px;
}
.right-panel-lists {
  height: 455px;
  width: 650px;
}
.tasks-lists {
  overflow: auto;
  height: 400px;
}
@media screen and (max-width: 428px) {
  .right-panel-lists {
    width: 300px;
  }
}
.listItem {
  height: 80px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--line-color);
}
@media screen and (max-width: 428px) {
  .listItem {
    font-size: 16px;
    line-height: 21px;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--small-px);
  gap: var(--mid-px);
  color: var(--secondary-text-color);
}
.footer-tag {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.light-footer-tag {
  color: var(--primary-text-color);
}
/* form section */
.app-form {
  max-width: 500px;
  width: 500px;
  height: 450px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--primary-text-color);
  background: var(--light-app-bg-color);
}
.modal-panel--display {
  display: flex;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: var(--primary-text-color);
}
.form-input {
  width: 420px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-top: 18px;
  margin-bottom: 30px;
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: var(--small-px);
}
.form-categories {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 600;
}
.form-categories-line {
  width: 180px;
  background-color: var(--line-color);
}
.category-tag {
  text-align: center;
}
.category-tag :focus {
  background-color: #354259;
}
.form-categories-tag-cont {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.form-categories-tag-cont :nth-child(5) {
  grid-column: 1 / 3;
}
.form-button {
  width: 182px;
  height: 40px;
  border: 2px solid var(--dark-bl-color);
  background-color: var(--primary-text-color);
  color: #278d8c;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 45px;
}
.form-background {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.modal-panel--hide {
  display: none;
}
@media screen and (max-width: 820px) {
  .app-form {
    width: 80%;
  }
}
@media screen and (max-width: 428px) {
  .app-form {
    width: 90%;
  }
  .app-form .form-categories-line {
    width: 80px;
  }
  .app-form .form-input {
    width: 250px;
  }
  .category-tag {
    width: 100px;
  }
}
.cancel-panel {
  position: absolute;
  top: 10px;
}
.check-icon {
  background-color: green;
  border-radius: 50%;
  padding: 5px;
}
