:root {
  --button-accent-color: #ff5252;
  --button-bl-color: #25a7b8;
  --button-green-color: #4caf50;
  --button-lo-color: #ffc107;
  --button-vio-color: #9c27b0;
  --dark-app-bg-color: #1c273c;
  --dark-page-bg-color: #354259;
  --light-app-bg-color: #54bab9;
  --light-page-bg-color: #f7ecde;
  --primary-font-family: "Open Sans", sans-serif;
  --primary-text-color: #ffffff;
  --secondary-text-color: #1d8a8a;
  --task-text-color: #25a7b8;
  --text-color-accent: #f6f6f6;
  --app-title-color: #e9c597;
  --line-color: #e4e4e4;
  --dark-bl-color: #38938a;
  --dark-shadow-color: #44a0a0;
  --font-weight-bg: 700;
  --small-px: 10px;
  --mid-px: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}
.app {
  padding-top: 80px;
  background: var(--light-page-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-title-container {
  width: 258px;
  height: 58px;
  text-align: center;
}
.app-title {
  line-height: 29px;
  font-weight: 800;
  color: var(--app-title-color);
}
.tasks-panel {
  margin-top: 114px;
  margin-bottom: 252px;
  display: flex;
  gap: 12px;
}
.left-panel {
  width: 250px;
  height: 520px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel--light {
  border-radius: var(--small-px);
  background: var(--light-app-bg-color);
  box-shadow: 0px 6px var(--dark-bl-color);
}
.left-panel--heading {
  width: 250px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-text-color);
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 20px;
}
.line {
  width: 60px;
  height: 0px;
  background-color: var(--line-color);
  margin-top: auto;
  margin-bottom: auto;
}
.button {
  width: 200px;
  height: 30px;
  border-radius: var(--small-px);
  color: var(--primary-text-color);
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: var(--small-px);
  cursor: pointer;
  transition: all 0.2s;
}
.button:hover {
  opacity: 0.7;
}
.button--primary {
  background-color: var(--button-green-color);
}
.button--accent {
  background-color: var(--button-accent-color);
}
.button--secondary {
  background-color: var(--button-lo-color);
}
.button--tertiary {
  background-color: var(--button-vio-color);
}
.button--lb {
  background-color: var(--button-bl-color);
}
.add-catg-button {
  margin-top: 175px;
  width: 168px;
}
.button-dark {
  background-color: var(--dark-bl-color);
  margin-bottom: 0px;
  font-weight: 800;
}
.right-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-panel-header {
  width: 650px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.header__item {
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 27px;
  font-size: 20px;
}
.right-panel-lists {
  height: 455px;
  width: 650px;
}
